<a href="https://colab.research.google.com/github/LouisFeraer/CPEN21A-ECE-2-1/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Operations and Expressions

##Boolean Operator

In [5]:
x=1
y=2
print(x>y)
print(y)
print(10>11)
print(10==10)

False
2
False
True

In [10]:
#Using bool() function
print(bool("Hello"))
print(bool(15))
print(bool("false")) 
print(bool(0))

True
True
True
False

###Function can return Boolean

In [18]:
def myFunction():return True
print(myFunction())

True

###You try

In [17]:
print (10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

##Arithmetic operators

In [23]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5) #modulo division, reminder
print(10//5) #floor division
print(10//3) #floor division

15
5
50
2.0
0
2
3

##Bitwise Operators

In [32]:
a=60 #0011 1100
b=13 #0000 1101

print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<1) #0011 1100
print(a<<2) #0011 1100
print(b>>1) #0000 1101 
print(b>>2)

12
61
49
-61
120
240
6
3

##Python Assignment Operators

In [33]:
a++3 #Same Asa=a+3
     #Same Asa=60, a=63
print(a)

60

##Logical Operator

In [36]:
#and logical operator

a=True
b=False

print(a and b)
print(a or b)
print(not(a or b))

False
True
False

In [37]:
print(a is b)
a is not b

False

True